@keyframes SlideTopToBottom {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

body {
    animation: 1s ease-in 0s 1 SlideTopToBottom;
    background:
    linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
    rgba(18, 255, 0, 1) 0%,
    rgba(0, 108, 255, 1) 100%);
}

.heading {
    text-align: center;
    background:
    linear-gradient(to right, #F27121, #E94057, #8A2387);
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.form-content {
    padding: 60px 10% 40px 10%;
    border: none;
    background-color: white;
    opacity: 1;
    background-image:
    linear-gradient(135deg, #eeeeee 25%, transparent 25%),
    linear-gradient(225deg, #eeeeee 25%, transparent 25%),
    linear-gradient(45deg, #eeeeee 25%, transparent 25%),
    linear-gradient(315deg, #eeeeee 25%, #ffffff 25%);
    background-position: 4px 0, 4px 0, 0 0, 0 0;
    background-size: 4px 4px;
    background-repeat: repeat;
}

input, select {
    background-color: transparent;
    border: none;
    border-bottom: 0.05rem solid black;
    border-radius: 0;
    outline: none;
    width: 100%;
    color: black;
    font-size: 18px;
    margin: 15px 0 30px 0;
    padding: 0;
}

::placeholder {
    color: black;
}

#btn {
    text-align: center;
}

.btnSubmit {
    margin: 30px;
    border: none;
    border-radius: 2rem;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    background:
    linear-gradient(to right, #F27121, #E94057, #8A2387);
    color: white;
}